* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

body{
    background-color: #ecf0f1;
}

.container{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}


.row{
    margin-right: 10px;
    margin-left: 10px;
}

/*Column System*/

.column1{
    margin: auto;
    padding: 10px;
    width: 100%;
    position: relative;
    float: left;
}

.column2{
    margin: auto;
    padding: 10px;
    width: 50%;
    position: relative;
    float: left;
}

.column2center{
    margin: auto;
    padding: 10px;
    width: 50%;
    position: relative;
}

.column3{
    margin: auto;
    padding: 10px;
    width: 33.33333%;
    position: relative;
    float: left;
}

.column4{
    margin: auto;
    padding: 10px;
    width: 25%;
    position: relative;
    float: left;
}

.column5{
    margin: auto;
    padding: 10px;
    width: 20%;
    position: relative;
    float: left;
}

.column6{
    margin: auto;
    padding: 10px;
    width: 75%;
    position: relative;
    float: left;
}

/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow:auto;
}

li a {
    display: block;
    color: #000;
    padding: 5px 16px 5px 16px;
    text-decoration: none;
}

li a.label{
    padding-top: 20px;
    padding-bottom: 2px;
    font-weight: bold;
}

/*Text Formatting*/

.text-center{
    text-align: center;
}

.vertical-center{
    padding-top: 25%;
}

label{
    padding-right: 10px;
    display: block;
}

input{
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}
[type="text"]{
    display: block;
}

select{
    height: 2.25em;
    padding: 0.5em 0.6em;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

span{
    display: block;
    color: red;
}

.display-inline{
    display: inline;
}

.addborder{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.bigtitle{
    font: Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: center;

}
.topbar{
    background-color: #2c3e50;
    color: #95a5a6;
}


/*Footer*/
.footer{
    margin-top: 20px;
    /*position: fixed;*/
    /*bottom: 0px;*/
    text-align: center;
}

/*Table*/
table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

table td{
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em;
}

table tr:first-child{
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*Button*/
.btn{
    color: white;
    background: rgb(28, 184, 65);
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-bottom: 20px;
    margin-left: 20px;
}

button.nomargin{
    margin-left: 0px;
}

button:hover{
    background: rgb(25, 148, 54);
}